<div class="custom-control custom-switch">
    <input type="checkbox"
           class="custom-control-input"
           id="darkSwitch"
           @bind-value="DarkTheme">
    <label class="custom-control-label" for="darkSwitch">@Label</label>
</div>

@inject DarkModeSwitchJsInterop JsInterop;
@code
{
    public bool DarkTheme
    {
        get => _darkTheme;
        set
        {
            _darkTheme = value;
            this.RaiseDarkThemeChangedAsync();
        }
    }

    [Parameter]
    public string Label { get; set; } = "Dark mode";

    private async Task RaiseDarkThemeChangedAsync()
    {
        if (_darkTheme)
        {
            await JsInterop.ResetTheme(true);
        }
        else
        {
            await JsInterop.ResetTheme(false);
        }
        await this.DarkThemeChanged.InvokeAsync(_darkTheme);
    }

    public EventCallback<bool> DarkThemeChanged { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JsInterop.InitTheme();
    }

    private bool _darkTheme;
}
